In [1]:
import pandas as pd

In [95]:
ratings=pd.read_csv('dataset/ratings.csv')

In [96]:
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [103]:
books=pd.read_csv('dataset/books.csv',usecols=["book_id","goodreads_book_id","title"])

In [104]:
books.head()

,book_id,goodreads_book_id,title
0,1,2767052,"The Hunger Games (The Hunger Games, #1)"
1,2,3,Harry Potter and the Sorcerer's Stone (Harry P...
2,3,41865,"Twilight (Twilight, #1)"
3,4,2657,To Kill a Mockingbird
4,5,4671,The Great Gatsby

In [105]:
ratings=pd.merge(books,ratings)

In [106]:
ratings.head()

,book_id,goodreads_book_id,title,user_id,rating
0,1,2767052,"The Hunger Games (The Hunger Games, #1)",2886,5
1,1,2767052,"The Hunger Games (The Hunger Games, #1)",6158,5
2,1,2767052,"The Hunger Games (The Hunger Games, #1)",3991,4
3,1,2767052,"The Hunger Games (The Hunger Games, #1)",5281,5
4,1,2767052,"The Hunger Games (The Hunger Games, #1)",5721,5

In [108]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head()

MemoryError: Unable to allocate 3.97 GiB for an array with shape (53424, 9964) and data type float64